.header{
    font-family: 'Cutive Mono', monospace;
    color: white;
    font-size: 64px;
    text-align: center;
    margin-top: 10px;
}

.huffi{
    font-size: 30px;
    font-family: 'Cutive Mono', monospace;
    color:rgb(171, 177, 199);
}

// .dots {
//     font-size: 30px;
//     font-family: 'Cutive Mono', monospace;
//     color:rgb(171, 177, 199);

//     .d1{
//         animation: dots 1s infinite;
//         -webkit-animation: dots 1s infinite;     
//     }
    
//     .d2{
//         animation: dots 1s infinite;
//         -webkit-animation: dots 1s infinite;     
//         animation-delay: 1s;
//         -webkit-animation-delay: 1s;

//     }
// }

@keyframes dots {
    from {opacity: 0;}
    to {opacity: 1}
}